<div>
  <div class="submit-form">
     <div *ngIf="seccion === 3"> 
      <div class="form-group">
        <label for="mail">Mail</label>
        <input
          type="text"
          class="form-control"
          id="mail"
          required
          [(ngModel)]="user.mail"
          name="mail"
        />
       </div> 

      <div class="form-group">
        <label for="tipoMusica">Tipo Musica</label>
        <input
          class="form-control"
          id="tipoMusica"
          required
          [(ngModel)]="user.tipoMusica"
          name="tipoMusica"
        />
      </div>

      <button (click)="saveUser()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="seccion === 1">
      <h4>Mail y Tipo de Música fue enviado exitosamente!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div>
     <div *ngIf="seccion === 2">
      <h4>Mail de User ya existe intente otro por favor!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div> 
    <div *ngIf="seccion === 4">
      <h4>Tipo de música no debe estar vacío!</h4>
      <button class="btn btn-success" (click)="newUser()">Add</button>
    </div> 
  </div>
</div>
